body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f8f8;  /* soft background */
  color: #222;
}


.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}



.blog-box {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 20px;
}

.beagle-img {
  width: 50%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
